<!--Container-->
<div class="container">
  <div class="all">
    <!--header-->
    <header id="home" style="background-image: url(../assets/Ajit_Vaish.jpg);">
      <div class="heading">
        
        <div class="name"><i>Ajit & Sai Shruthi</i></div>
        <h2 class="getting-married">Are getting married</h2>
        <h2 class="getting-married" style="color:white;padding-top: 0.5rem;">20.08.2021</h2>
      </div>
      <app-count-down></app-count-down>
      <div class="container">
        
        <div id="countdown">
          <!-- <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul> -->
        </div>
        <div id="content" class="emoji">
         
        </div>
      </div>
      <!--end header-->
    </header>
    <!--start section1-->
    <section class="start">
      <!--part Marco And Abby-->
      <div class="ofCourse">
        <div class="heading">
          <h1>You Are Invited</h1>
          <h2>Of course..</h2>
        </div>
      </div>
 
      <div class="two" id="wedding">
        <h3>THE WEDDING</h3>
        
      </div>
      <div class="content">
        <div class="whenWhere">
          <h2><b>When</b></h2>
          <p><b>Wedding Ceremony - 6:00 AM</b></p>
         
        </div>
        <div class="whenWhere">
          <h2><b>Where</b></h2>
          <p><b>Sai Sobha Mahal</b></p>
          <p><b>Ambattur, Chennai</b></p>
        </div>
        <div class="link-wed">
          <h2><b>Live Stream</b></h2>
          <b><a href="https://3channel.in/vaishali_weds_ajit/">https://3channel.in/vaishali_weds_ajit/</a></b>
      
        </div>
      </div>
      <!--end section1-->
    </section>
    <!--start section2-->
    <section class="second">
      <div class="beforEnd">
        <h1>HOPE YOU CAN MAKE IT!</h1>
        
       
      </div>
      <!--end section2-->
    </section>
  </div>
  <!--box modal-->
  <div class="ok">
    <div id="box" class="animated zoomIn">
      <h1>CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form>
        <input type="text" placeholder="Name(s)" name="name">
      </form>
      <p><i>Sincerely, Ajit & Sai Shruthi</i></p>
      <div id="disappear">
        <div class="green">
          <button class="one">Going</button>
        </div>
        <div class="red">
          <button class="another">Can't come</button>
        </div>
      </div>
    </div>
  </div>
  <!--navbar bottom-->
  <nav>
    <a href="#home">Home</a>
    <a href="#us">Ajit & Sai Shruthi</a>
    <a href="#wedding">Wedding</a>
    <a href="#appear" class="del">RSVP</a>
  </nav>
  <!--end container-->
</div>
<!--footer-->
